@model Company

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Id!=0?"Update":"Create") Company</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post"class="row" enctype="multipart/form-data">
            <input hidden asp-for="Id" />
            
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Name" class="ms-2"></label>
                            <input asp-for="Name" class="form-control border-0 shadow" />
                            <span asp-validation-for="Name" class="text-danger p-0"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="PhoneNumber" class="ms-2"></label>
                            <input asp-for="PhoneNumber" class="form-control border-0 shadow" />
                            <span asp-validation-for="PhoneNumber" class="text-danger p-0"></span>

                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="StreetAddress" class="ms-2"></label>
                            <input asp-for="StreetAddress" class="form-control border-0 shadow" />
                            <span asp-validation-for="StreetAddress" class="text-danger p-0"></span>

                        </div>
                       
                        <div class="form-floating py-2 col-12">
                            <label asp-for="City" class="ms-2"></label>
                            <input asp-for="City" class="form-control border-0 shadow" />
                            <span asp-validation-for="City" class="text-danger p-0"></span>

                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="State" class="ms-2"></label>
                            <input asp-for="State" class="form-control border-0 shadow" />
                            <span asp-validation-for="State" class="text-danger p-0"></span>

                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="PostalCode" class="ms-2"></label>
                            <input asp-for="PostalCode" class="form-control border-0 shadow" />
                            <span asp-validation-for="PostalCode" class="text-danger p-0"></span>

                        </div>
                        
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }

                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Company" asp-action="Index" class="btn btn-secondary border form-control ">Back to List</a>
                            </div>
                        </div>


                    </div>
                </div>
                
            </div>
            
        </form>
    </div>
</div>




@section Scripts{
    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: [
            // Core editing features
            'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
            // Your account includes a free trial of TinyMCE premium features
            // Try the most popular premium features until Nov 2, 2025:
            'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'advtemplate', 'ai', 'uploadcare', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
          ],
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography uploadcare | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ],
          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
          uploadcare_public_key: 'abe62c18ae06bbf7a82b',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
